.mob-menu{
    position: fixed;
    background-color: #ffffff;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 48px;
    .conteiner{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
.mob-menu-bt{
    position: absolute;
    top: 10px;
    right: 15px;
    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    margin-left: auto;
    background-color: #FFFFFF;
    border: transparent;
    &:hover .mob-bt__icon{
    fill: var(--accent-color);
    }
}

.mob-menu-item:not(:last-child){
    margin-bottom: 32px;
}
// .mob-menu-item:last-child{
//     margin-bottom: 302px;
// }
.mob-menu-link{
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    text-align: left;
    letter-spacing: 0.02em;
    color: var(--titel-text-color);
    text-decoration: none;
   
}
.mob-menu-link:hover{
    color: var(--accent-color);
}
.mob-menu-contact__link{
    @media screen and (max-width: 768px){
        font-size: 34px;
    }
    @media screen and (max-width: 480px){
        font-size: 22px;
    }
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #2196F3;
    text-decoration: none;
}
.mob-menu-mail{
    @media screen and (max-width: 768px){
        font-size: 24px;
    }
    @media screen and (max-width: 480px){
        font-size: 14px;
    }
    font-weight: 500;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
}
.mob-menu-contact__item:not(:last-child){
    margin-bottom: 32px;
}
.mob-menu-contact__item:last-child{
    margin-bottom: 64px;
}
.mob-menu-soc{
    display: flex;
    margin-bottom: 48px;
    
}
.mob-soc-item{
    margin-right: 10px;
   
    
}
.mob-soc-item:last-child{
    margin-right: 0;
}
.mob-soc-item:not(:last-child){
     border-right: 1px solid rgba(33, 33, 33, 0.2);
     padding-right: 10px;
}
.mob-menu-soc__link{
    @media screen and (max-width: 768px){
        font-size: 18px;
    }
    @media screen and (max-width: 480px){
        font-size: 12px;
    }
    font-weight: 500;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196F3;
    text-decoration: none;
    border-right: 4px solid black;
}
.mob-menu-soc__link:last-child{
    border-right: none;
}