.comand{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    & .comand__title{
    color: var(--titel-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    }
}

.comand__item{
    width: 100%;
    @media screen and (min-width: 768px) {
        width: calc((100% - 30px)/2);
    }
    @media screen and (min-width: 1200px) {
        width: calc((100% - 90px)/4);
    }
    // margin-right: 30px;
    // &:last-child{
    //     margin-right: 0;
    // }
}

.section-comand:nth-child(2n){
    background-color: #F5F4FA;
}

.comand__item{
    background-color: #FFFFFF;
    // width: 270px;
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.comand__box{
    padding-top: 30px;
    padding-bottom: 30px;
}
.comand__text{
    margin-top: 0;
    margin-bottom: 16px;
}
.soc{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.soc__link{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    background-color: #2196F3;
    }
}
.soc__icon{
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .soc__link:hover &,
    .soc__link:focus & {
    fill: #FFFFFF;
    }
}

