.header{
    border-bottom: 1px solid #EEEEEE;

}
.main-tem {
    display: flex;
    align-items: center;
   
}

.logo{
    padding: 16px;
}
.logo__item{
    color: #000000;
    font-family: Raleway,cursive;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.14;
    text-decoration: none;
    
}
.logo__text{
    color: var(--accent-color);
}
.list{
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation{
    display: none;
    // display: flex;
    align-items: center;
}
@include tablet{
    .navigation{
    
    display: flex;
    align-items: center;
}
}
.navigation__list {
    display: flex;
    margin-left: 87px;
    @include desktop{
        margin-left: 93px;
    }
    
}
.navigation__item {
    margin-right: 50px;
}
.navigation__item:last-child{
    margin-right: 0;
}

.navigation__list .navigation__link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--titel-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus{
        color: var(--accent-color);
    }
}

.navigation__link.navigation__link--current{
    color: var(--accent-color);
    &:hover,
    &:focus{
        color: var(--titel-text-color);
    }
}

.navigation__item--acsent::after{
    display: block;
    content: '';
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
}
/* contact */
.contact{
    display: none;
    // display: flex;
    margin-left: auto;
}
@include tablet {
    .contact{
        display:block;
        margin-left: auto;
}
}
@include desktop {
    .contact{
        display: flex;
        margin-left: auto;
}
}
@include desktop{
    .contact__item{
        margin-right: 50px;
}
    .contact__item:last-child{
        margin-right: 0;
}
}


.contact .contact__link{
    color: var(--primary-text-color);
    font-weight: 500;
    @include tablet{
        font-size: 12px;
        line-height: 1.16;
    }
    @include desktop{
        font-size: 14px;
        line-height: 1.14;
    }
    
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus{
        color: var(--accent-color);
    }
}

.contact__icon {
    width: 14px;
    height: 10px;

    @include desktop {
        width: 16px;
        height: 12px;
    }
    margin-right: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .contact__link:hover &,
    .contact__link:focus &{
        fill: var(--accent-color);
    }
}
@media screen and (max-width: 768px) {
    .bt-menu{
        display: flex;
        width: 40px;
        height: 40px;
        align-items: center;
        margin-left: auto;
        background-color: #FFFFFF;
        border: transparent;
    
}
    }
@include tablet{
   .bt-menu{
    display: none;
   } 

}
@include desktop{
    .bt-menu{
    display: none;
   } 
}
